@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

:root {
  --primary-color: #a1d8ff;
  --secondary-color: #c5e7ff;
  --third-color: #249bf1;
  --btn-clr: #00147c;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header {
  background-color: var(--primary-color);
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
  font-weight: 500;
  font-size: 20px;
}

.nav__toggle {
  display: none;
}

.box {
  background-color: #ffffff;
  width: 1366px;
  height: 30px;
  text-align: center;
  text-justify: inter-word;
}

.box1 {
  background-color: #c5e7ff;
  width: 1366px;
  height: 600px;
  font-size: 40px;
  text-align: center;
}

.box12 {
  background-color: #c5e7ff;
  width: 1366px;
  height: 1200px;
  font-size: 40px;
  text-align: center;
}

.box11 {
  background-color: #c5e7ff;
  text-align: center;
  width: 1366px;
  height: 600px;
  font-size: 20px;
}

.box2 {
  background-color: #3d3f6c;
  text-align: center;
  width: 1366px;
  height: 210px;
  color: #ffffff;
  font-size: 30px;
}

.box13 {
  background-color: #3d3f6c;
  text-align: center;
  width: 1366px;
  height: 210px;
  color: #ffffff;
  font-size: 30px;
}

.warna {
  text-align: center;
  font-size: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.sign-in {
  padding: 10px 20px;
  background-color: var(--btn-clr);
  font-size: 16px;
  color: white;
  border-radius: 6px;
  border: none;
}

.container {
  height: calc(100vh - 100px);
  padding-top: 100px;
  background-color: var(--secondary-color);
}

.container .wrapper {
  display: flex;
  justify-content: space-between;
}
.container .wrapper-img,
.container .wrapper-img img {
  border: none;
  border-radius: 5px;
}

.container .wrapper-img {
  margin-right: 100px;
  /* border: 1px solid black; */
}
.container .wrapper-text {
  /* border: 1px solid black; */
  transform: translateX(100px);
}

.wrapper h5 {
  font-weight: bold;
  color: #000d50;
  font-size: 50px;
  width: 50%;
  padding-bottom: 30px;
}

.search-job {
  height: calc(100vh - 100px);
  padding-top: 100px;
  background-color: var(--third-color);
}
.wrapper-search-job {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-job h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 30px;
}
.input {
  width: 60%;
  position: relative;
}

.search-job input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
